html {
    height: 100%;
    box-sizing: border-box;
  }
 
*,
*::before,
*::after {
    box-sizing: inherit;
    scroll-behavior: smooth;
  }
 
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
 
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial", "sans-serif";
    font-size: 18px;
    line-height: normal;
  }
 
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
  }

li, a{
    list-style: none;
    text-decoration: none;
}

.container{
    width: 1340px;
    padding: 0 20px;
    margin: 0 auto;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list{
    display: flex;
}

.nav__item + .nav__item{
    padding-left: 33px;
}

.nav__link{
    color: #83888F;
    font-family: Barlow;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; 
    letter-spacing: 0.923px;
    text-transform: uppercase;
}

.nav__link:hover{
    color: black;
}

/* main */

/* LT */

.hero .container{
    
    background-image: url("../img/Bitmap.png");    
    background-repeat: no-repeat;
    width: 1280px;  
    height: 600px;     
}

.hero__heading{
    width: 493px;
    color: #FEFCF7;
    font-family: "Fraunces 9pt";
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px; 
    padding-top: 100px;
    margin-left: 33px;
}

.hero__text{
    width: 400px;
    color: #FEFCF7;
    font-family: "Barlow";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    opacity: 0.8;
    padding-bottom: 30px;
    margin-left: 33px;
}

.hero__button{
    padding: 20px 70px;
    border-radius: 6px;
    background: #66D2CF;
    color: white;
    margin-left: 33px;
}

.user__img {
    margin-top: 86px;
    margin-left: 100px;
}

.user__imag {
    margin-top: -85px;
    margin-left: 50px;
}

.user__h2 {
    color: #333D4B;
    font-family: "Fraunces" 9pt;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; 
    margin-top: 71px;
    margin-left: 90px;
}

.user__p {
    color: #333D4B;
    font-family: "Barlow";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-left: 90px;
}

.user__list {
    display: flex;
}

.pop .container {
    width: 1280px;
    height: 577px;
    flex-shrink: 0; 
    margin-top: 200px;
    border-radius: 10px;
    background: #2C343E; 
}

.pop__h2 {
    color: #FEFCF7;
    text-align: center;
    font-family: "Fraunces" 9pt;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px; 
}

.pop__text {
    color: #FEFCF7;
    text-align: center;
    font-family: "Barlow";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.card__item {
    width: 350px;
    height: 382px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #0E8784;
}
  
.card__list {
    display: flex;
    margin-top: -260px;
    margin-left: 50px;
}
  
.card__item+ .card__item {
    margin-left: 30px;
}
  
  
.card__img {
    margin-left: 129px;
    margin-top: 72px;
    text-align: center;
}
  
.card__heading {
    margin-left: 40px;
    width: 255px;
    color: #FEFCF7;
    text-align: center;
    font-family: "Fraunces";
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; 
}
  
.card__text {
     /* margin-right: 50px; */
    color: #FEFCF7;
    text-align: center;
    font-family: "Barlow";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}

.git__h2 {
    color: #83888F;
    font-family: "Fraunces" 9pt;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; 
    margin-top: 200px;
}

.git__img {
    margin-top: 100px;
}

.git__hh2 {
    color: #333D4B;
    font-family: "Fraunces" 9pt;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
}

.git__text {
    color: #333D4B;
    font-family: "Barlow";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.git__list {
    display: flex;
    justify-content: space-between;
}

.button {
    width: 217px;
    height: 56px;
    flex-shrink: 0; 
    border-radius: 6px;
    background: #66D2CF; 
    color: #FEFCF7;
    text-align: center;
    font-family: "Fraunces" 9pt;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    padding: 20px 45px;
}

.net__info {
    width: 1280px;
    height: 120px;
    flex-shrink: 0; 
    background: #2C343E; 
    margin-top: 200px;
}

.net__img {
    margin-left: 85px;
    margin-top: 47px;
}

.net__item {
    text-decoration: none;
}


.net__info {
    display: flex;
}

.nav__listt {
    display: flex;
    margin-top: 50px;
}

.net__imig {
    margin-top: 30px;
    margin-left: 369px;
}